body {
    background-color: lightslategray;
}

.inp:not(:checked) ~ .menu-container{
    display: none;
}
.inp:active ~ .menu-container{
    display: none;
    
}

.inp:active{
    checked: false;

}

.Hussain{
    background-color: lightgrey;
    width: fit-content;
    height: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

label{

}

#menu-section-1-label {
        padding: 20px;
 height: 100%;
 display: block;
}