{{define "mainBlock" }}
<div id="main-container">
    <section class="main-section" id="hero-section">
        <div class="hero-container">
            <h1 id="hero-title" class="section-title">Welcome to Null Pointer</h1>
            <p class="section-subtitle">Discuss, share, and connect with others.</p>
        </div>
    </section>
    <section class="main-section" id="featured-section">
        <h2 class="section-title">Featured Posts</h2>
        <form method="get" class="posts-form">
            {{range .FeaturedPosts}}

            {{else}}
            <p>No posts found.</p>
            {{end}}
        </form>
    </section>
    <section id="latest-section" class="main-section">
        <h2 class="section-title">Latest Posts</h2>
        <form method="get" class="posts-form">
            {{range .LatestPosts}}
            <div class="card">
                <div class="titlebar">
                    <span class="post-title">{{.Title}}</span>
                    <span class="buttons">
                        <button class="minimize" type="button">
                            <svg x="0px" y="0px" viewBox="0 0 10.2 1">
                                <rect x="0" y="50%" width="10.2" height="1"></rect>
                            </svg>
                        </button>
                        <button class="maximize"  value="maximize" type="submit" formaction="/post/{{.ID}}">
                            <svg viewBox="0 0 10 10">
                                <path d="M0,0v10h10V0H0z M9,9H1V1h8V9z"></path>
                            </svg>
                        </button>
                        <button class="close" type="button">
                            <svg viewBox="0 0 10 10">
                                <polygon
                                    points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1">
                                </polygon>
                            </svg>
                        </button>
                    </span>
                </div>
                <div class="post-card-body">
                    {{.Content}}
                </div>
            </div>
            {{end}}
        </form>
    </section>
</div>
{{end}}