{{define "mainBlock" }}
<div id="main-container">
    <section class="main-section" id="hero-section">
        <div class="hero-container">
            <h1 id="hero-title" class="section-title">Welcome to Null Pointer</h1>
            <p class="section-subtitle">Discuss, share, and connect with others.</p>
        </div>
    </section>
    <section class="main-section" id="featured-section">
        <div id="posts-section" class="home-featured">
            <h2 class="section-title">Featured Posts</h2>
            <div class="posts-container">
                {{range .FeaturedPosts}}
                <div class="post-card" onclick="location.href='/post/{{.ID}}'">
                    <div class="post-titlebar">
                        <div class="post-title">{{.Title}}</div>
                        <div class="post-toolbar-buttons">
                            <button class="maximize" type="button" onclick="event.stopPropagation(); location.href='/post/{{.ID}}'">
                                <svg viewBox="0 0 10 10"><rect x="1" y="1" width="8" height="8" /></svg>
                            </button>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-content">{{.Preview}}</div>
                        <div class="post-info"><small>Posted by {{.Username}} on {{.CreatedAt.Format "2006-01-02 15:04"}}</small></div>
                    </div>
                </div>
                {{else}}
                <p>No posts found.</p>
                {{end}}
            </div>
        </div>
    </section>
    <section id="latest-section" class="main-section">
        <div id="posts-section" class="home-latest">
            <h2 class="section-title">Latest Posts</h2>
            <div class="posts-container">
                {{range .LatestPosts}}
                <div class="post-card" onclick="location.href='/post/{{.ID}}'">
                    <div class="post-titlebar">
                        <div class="post-title">{{.Title}}</div>
                        <div class="post-toolbar-buttons">
                            <button class="maximize" type="button" onclick="event.stopPropagation(); location.href='/post/{{.ID}}'">
                                <svg viewBox="0 0 10 10"><rect x="1" y="1" width="8" height="8" /></svg>
                            </button>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-content">{{.Preview}}</div>
                        <div class="post-info"><small>Posted by {{.Username}} on {{.CreatedAt.Format "2006-01-02 15:04"}}</small></div>
                    </div>
                </div>
                {{else}}
                <p>No posts found.</p>
                {{end}}
            </div>
        </div>
    </section>
</div>
{{end}}