<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/web/static/css/login.css">
    <link rel="stylesheet" href="/static/css/login.css">

</head>

<body>



    <div class="main-card">

      
        <div class="logos">
            <div class="welcome">
                <h1>Welcome To Coding Forum</h1>
            </div>

            <img src="/web/static/img/logos.png" alt="Logo">
        </div>

        <div class="login-container">
            <div class="login-header">
                <h2>Login</h2>
            </div>

            <form method="POST" action="/login">

                <div class="inputbox">
                    <input type="text" id="emailORUsername" name="emailORUsername" required>
                    <span>Email or Username</span>
                    <i></i>
                </div>

                <div class="inputbox">
                    <input type="password" id="password" name="password" required>
                    <span>Password</span>
                    <i></i>
                </div>

                <div class="form-actions">
                    <button type="submit">Login</button>
                </div>

                <div class="form-footer">
                    <p>Don't have an account? <a href="/register">Register here</a>.</p>
                </div>

                {{if .Error}}
                <div class="error-box">{{.Error}}</div>
                {{end}}
            </form>


        </div>

    </div>



</body>

</html>