/* Background and layout */
body {
    background: #0e0015;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* sidebars */
.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

.sidebar-left {
    left: 0;
    z-index: 1;
}

.sidebar-right {
    right: 0;
    z-index: 1;
}

.sidebar-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-options {
    background-color: #2e0043;
    border: 1px solid #c042ff;
    box-shadow: 0 0 20px #c042ff40;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
}

/* sections */

.section-title {
    font-size: 24px;
    color: white;
    text-align: center;
}

/* Hero section */

#hero-section {
    width: 100%;
    text-align: center;
    padding: 128px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-title {
    font-size: 36px;
    margin: 0;
    color: white;
}

.hero-subtitle {
    font-size: 18px;
    margin: 8px 0 0 0;
    color: white;
    opacity: 0.6;
}

/* posts */

#posts-section {
    width: 100%;
}

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.post-card {
    background: #15001f;
    border: 1px solid #c042ff;
    font-size: 14px;
    box-shadow: 0 0 20px #c042ff40;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    height: 256px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card {
    color: white;
}

/* Title bar styling */
.post-titlebar {
    font-family: system-ui, sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #2e0043;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    gap: 8px;
    box-sizing: border-box;
}

.post-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card button {
    width: 28px;
    height: 24px;
    border: 0;
    outline: 0;
    background: transparent;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}

.post-body {
    padding: 4px 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* SVG icon styling -------------------------------------------------------------- */

button svg path,
button svg rect,
button svg polygon {
    fill: #ffffff;
}

button svg {
    width: 10px;
    height: 10px;
}

.close:hover {
    background-color: #e81123;
}

.maximize:hover,
.minimize:hover {
    background-color: #c042ff2e;
}

.delete-button {
    background-color: #ff5a5f;
}

.delete-button:hover {
    background-color: #d94145;
}

.post-toolbar-buttons {
    display: flex;
    gap: 8px;
}

/* ----------------------------------------------------------------------------------- */